// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Bubblegum Sans", cursive, "Ubuntu", sans-serif;
  color: @main-font-color;
  height: 100%;

  background-image: url("../img/32599-compressor.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bubblegum Sans", cursive, "Russo One", sans-serif;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.main-content {
  width: 100%;
  max-width: 1000px;
  min-width: 500px;
  margin-top: 68px;
  padding-left: 2em;
  padding-right: 2em;
  background: fade(@blue, @background-fade);

  @media @tablet {
    max-width: 90%;
  }

  @media @phone {
    .flex();
    max-width: 100%;
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
    min-width: 300px;
  }
}

img {
  max-width: 100%;
}

.container {
  .flex(@direction: row, @align: flex-start);
  padding: 0 1em;
  margin-bottom: 10%;

  @media @tablet {
    margin-bottom: 20%;
  }

  @media @phone {
    padding: 0;
    margin-top: 7px;
    margin-bottom: 25%;
  }
}
