.button {
  .button(@width: 30%);
  min-width: 280px;
}

p.tagline {
  text-align: center;
  font-size: 3.25rem;
}

section p.description {
  @media @phone {
    width: 90%;
    font-size: 2.75rem;
  }
}
