.nav-container {
  .flex(@direction: row, @justify: center);
  background: darken(@background, 10%);
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  .flex(@direction: row, @justify: flex-end);
  width: 1000px;
  a {
    .button(
      @background: darken(@background, 10%),
      @size: 1.75rem 2.5rem,
      @radius: 0,
      @margin: 0,
      @font-size: 3rem
    );
    min-width: 200px;
    // margin-bottom: 2.5rem;
  }

  @media @phone {
    .flex(@direction: column, @justify: space-evenly);
    margin-bottom: 2em;
    a {
      width: 100%;
      margin: 0;
    }
  }
}
